<div class="modal-header">
  <h4 class="modal-title pull-left">About Site</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>&copy; Created 2017</p>
  <p>Technologies used:</p>
  <ul>
    <li>Angular</li>
    <li>Bootstrap</li>
    <li>ngrx/store</li>
    <li>ngx-bootstrap</li>
    <li>Firebase</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>
