<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Riftovani.cz</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
             [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <span *ngFor="let navItem of navItems">
          <li class="nav-item" *ngIf="navItem.position === 'left'" routerLinkActive="active">
            <div class="btn-group" dropdown *ngIf="navItem.dropdown">
              <a dropdownToggle class="dropdown-toggle nav-link">
                {{ navItem.name }} <span class="caret"></span>
              </a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem" *ngFor="let item of navItem.dropdown">
                  <a class="dropdown-item" (click)="openModal(item)">{{ item }}</a>
                </li>
              </ul>
            </div>
            <a class="nav-link" *ngIf="!navItem.dropdown"
               [routerLink]="navItem.routerLink">
              {{ navItem.name }}
            </a>
          </li>
      </span>
    </ul>
    <ul class="navbar-nav" *ngIf="adminMode">
      <li class="nav-item">
        <button class="btn btn-primary" (click)="onSave()">Save</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()">Logout</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="!adminMode">
      <span *ngFor="let navItem of navItems">
        <li class="nav-item" *ngIf="navItem.position === 'right' && !showForm">
          <a class="nav-link" (click)="showAdminForm()">{{ navItem.name}}</a>
        </li>
      </span>
      <li class="nav-item" *ngIf="showForm && !adminMode">
        <app-password></app-password>
      </li>
    </ul>
  </div>
</nav>
