<div class="card text-dark" style="width: 20rem;">
  <div class="btn-group admin-buttons" *ngIf="adminMode">
    <button class="btn btn-danger" (click)="onDelete()">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
    <button class="btn btn-warning" (click)="openModalForm()">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>
  </div>

  <div *ngIf="!imageLoaded" class="spinner d-flex justify-content-center align-items-center">
    <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
  </div>

  <img (load)="imageLoaded = true" class="card-img-top" [src]="item.img" [alt]="item.name">

  <div class="card-body">
    <h4 class="card-title">{{ item.name }}</h4>
    <p class="card-text">{{ item.desc }}</p>
    <a [href]="item.url" class="btn btn-primary" #url>Let me see</a>
  </div>
</div>
